/MCGserver/recframes/
/MCGserver/ivfvideos/
/MCGserver/ivfvideos_1min/
/client/recframes/
/client/**/*.log
/MCGserver/**/*.log
/MCGserver/Videos/
/MCGserver/shortVideos/
=*
.idea
*.log
*.csv
util/cache/
util/__pycache__/
messages/__pycache__/
nebula/__pycache__/
RTTProbing/__pycache__/
udponly/__pycache__/
test/__pycache__/
test/cache/
tcp/__pycache__/
gop_nc/__pycache__/